<p>structural-directive works!</p>
<div >
    <!-- <div class="col-4">
        <div (click)="onClick()">
            <input type="checkbox">
            Term and condition
        </div>
        <button *ngIf="isChecked">Submit</button>
    </div> -->

<!-- using control flow  -->
 <div>
    <input type="checkbox" (click)="onClick()">Term and Conditions
    @if(isChecked){
<button>submit</button>
    }
 </div>
 <div class="box" >
    <div class="box">
        <label >Password </label>
        <input type="text"  [(ngModel)]="input1">
    </div>
    <div class="box" >
        <label >Confirm Password </label>
        <input type="password" [(ngModel)]="input2">
    </div>
    @if (input1 !== input2) {
        <p style="color: red;">Both are not Matching</p>
    }
    @else if (input1 === input2) {
        <p style="color: green;">Both Matches</p>
    }

 </div>
</div>