.box{
   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
 .box div{
    margin-bottom: 5px;
 }
 .red{
   background-color: red;
 }
  .blue{
   background-color: blue;
 }