.box{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
    margin-top: 40px;
}
.container h2 {
    color: #00bcd4; /* Cyan */
    text-align: center;
}
.container div:nth-child(2) {
    text-align: center;
}